<mat-toolbar>
    <div class="container"> 
        <span class="example-spacer"></span>
        <div class="icon-links">
            <a href="https://www.facebook.com/facebook/"><img mat-button src="../../assets/icons/facebook.png"></a>
            <a href="https://www.instagram.com/"><img mat-button src="../../assets/icons/instagram.png"></a>
            <a href="https://twitter.com/"><img mat-button src="../../assets/icons/twitter.png"></a>
            <span class="example-spacer"></span>
            <span class="title">My Tasty Cakes</span>
        <span class="example-spacer"></span>
            <!--a><img class="active" href="#home" src="../../assets/animations/angular.gif"></a-->
        </div>
    </div>
   
  </mat-toolbar>