<a routerLink="../item-detail/{{ item?.id }}">
  <mat-card mat-ripple="true" class="card-content">
    <mat-card-header>
      <h3>{{ item?.name }}</h3>
    </mat-card-header>
    <mat-card-content>
      <img
        class="mat-card-image"
        src="../../assets/{{ item?.category }}/{{ item?.name }}.jpg"
        alt="{{ item?.name }}"
        alt="Card Image"
      />
    </mat-card-content>
    <mat-card-footer>
      <p>{{ item?.price }} {{ item?.category }}</p>
    </mat-card-footer>
  </mat-card>
</a>
