
    <div class="landing-page">
        <div class="landing-page-content">
            <img class="landing-page" src="../../assets/wallpaper/homemade.jpg">
            <app-search-bar (searchTextChanged)="onSearchTextChanged($event)"></app-search-bar>
            <h3 class="landing-page-title">My Tasty Menu</h3>
              <app-item-list [items] = "items"></app-item-list>
              
        </div>
      </div>
      <div class="topnav">
        <a mat-button (click)="filterItem('Bonbons')">Bonbons</a>
        <a mat-button (click)="filterItem('Brownies')">Brownies</a> 
        <a mat-button (click)="filterItem('Cupcakes')">Cupcakes</a>
        <a mat-button (click)="filterItem('Cookies')">Cookies</a>
        <a mat-button (click)="filterItem('Cake')">Cakes</a>
        <a class="active" href="#home">Home</a>
    </div>
 