/* Set the background image */


/* Image */
img {
    max-width: 100%;
    max-height: 100%;
}

.landing-page-title{
    color:black;
    position: absolute;
    top: 14%;
    left: 65%;
    width: 15%;
    font-size: 4.8rem;
  }

    app-item-list {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 500px;
        grid-gap: 20px;
        top: 23%;
        left: 56%;
      }

    app-search-bar {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 40%;
        grid-gap: 20px;
        top: .3%;
        left: 42%;
      }
 /* Add a black background color to the top navigation */
 .topnav {
  position: absolute;
  top: .4%;
  left: 80%;
  background-color: transpaernt;
  overflow: hidden;
  margin-right: 40px;
}

/* Style the links inside the navigation bar */
.topnav a {
  
  float: right;
  color: #030202;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 4px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#dcb0ac;
  color: #f4dbda;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f4dbda;
  color: white;
  border-radius: 10px;
}

      @media (min-width: 200px) {
        app-item-list {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      

    
